<h1>New Review for <%= @restaurant.name %></h1>

<%= form_with(model: [@restaurant, @review]) do |form| %>
  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating, in: 0..5 %>
  </div>
  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', @restaurant %>
